@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap');
body{
  font-family: 'Nunito Sans', sans-serif;
}
.container-fluid {
  max-width: 470px;
  margin: auto;
  background: #fff;
}

/* ===== Title ===== */
.title-register { margin-top: 0; 
  color: #6c5234; font-weight: 700; letter-spacing: 0.5px; font-size: 24px; }

.register-subtitle{
  font-size: 13px;
  color: #888;
  margin-bottom: 18px;
}

.form{
  padding: 0 15px 0 15px;
  margin-bottom: 10px;
}
/* ===== Input ===== */
.form-control{
  border-radius: 8px;
  font-size: 14px;
}

.form-control:focus{
  border-color: #6c5234;
  box-shadow: 0 0 0 0.15rem rgba(108,82,52,0.15);
}

/* ===== Button register ===== */
.btn-register{
  background-color: #6c5234;
  border-color: #6c5234;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  width: auto;          
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px auto 0 auto;
}


.btn-register:hover{
  background-color: #56422A;
  border-color: #56422A;
}

.btn-register:disabled{
  background-color: #c2b6a8;
  border-color: #c2b6a8;
}

/* ===== Checkbox ===== */
.form-check-input{
  cursor: pointer;
}

.form-check-input:checked{
  background-color: #6c5234;
  border-color: #6c5234;
}

.form-check-input:focus{
  box-shadow: 0 0 0 0.15rem rgba(108,82,52,0.25);
}


/* ===== Error text ===== */
.text-danger{
  font-size: 12px;
}

/* ===== Label ===== */
label{
  font-size: 16px;
  font-weight: 500;
  color: #373737;
  margin-bottom: 4px;
}

.form-control::placeholder{
  font-size: 14px;
}

.social-btn{
  min-width: 140px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #6c5234;
  color: #6c5234;
  background: #fff;
  transition: all .2s ease;
  gap: 8px;   
}
.social-btn:hover{
  background: #6c5234;
  border-color: #6c5234;
  color: #fff;
}

.social-icon{
  width: 20px;
  height: 20px;
}
.login-divider{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  color: #9a9a9a;
  font-size: 14px;
}

.login-divider::before,
.login-divider::after{
  content: "";
  flex: 1;
  height: 1px;
  background: #dcdcdc;
}

.register-link{
  font-size: 14px;
  color: #666;
}

.register-link a{
  color: #7a5a3a;   /* nâu giống nút đăng nhập của m */
  text-decoration: none;
  font-weight: 500;
}

/* ===================== */
/* ===== Responsive ==== */
/* ===================== */
@media (min-width: 577px) and (max-width: 768px){

  .container-fluid{
    max-width: 520px;
  }

  .title-register{
    font-size: 22px;
  }

  label{
    font-size: 15px;
  }
}

@media (min-width: 769px) and (max-width: 992px){

  .container-fluid{
    max-width: 470px;
  }

  .title-register{
    font-size: 24px;
  }
}