<div class="form">
  <form [formGroup]="regForm" (ngSubmit)="submit()">

   
    <h3 class="text-center text-uppercase title-register mb-1">
    Đăng ký
    </h3>

    <p class="text-center register-subtitle">
    Tạo tài khoản mua sắm dễ dàng!
    </p>

    <!-- Tên -->
    <div class="mb-3">
      <label>Họ và tên <span class="text-danger">*</span></label>
      <div class="input-pos-wrapper">
        <input type="text" class="form-control" formControlName="name" placeholder="Nhập họ và tên"
          [class.is-invalid]="name.invalid && (name.touched || name.dirty)">
        
        <div class="icon-group">
          <i class="bi bi-exclamation-circle error-icon-fixed" 
             *ngIf="name.invalid && (name.touched || name.dirty)"></i>
        </div>
      </div>
      <div class="error-area" *ngIf="name.invalid && (name.touched || name.dirty)">
        <small class="text-danger" *ngIf="name.errors?.['required']">Tên không được để trống</small>
        <small class="text-danger" *ngIf="name.errors?.['minlength']">Tên phải có ít nhất 3 ký tự</small>
        <small class="text-danger" *ngIf="name.errors?.['nameNotMatch']">Tên không được chứa ký tự đặc biệt</small>
      </div>
    </div>

    <!-- Số điện thoại -->
    <div class="mb-3">
      <label>Số điện thoại <span class="text-danger">*</span></label>
      <div class="input-pos-wrapper">
        <input type="tel" class="form-control" formControlName="phone" placeholder="Nhập số điện thoại"
          [class.is-invalid]="phone.invalid && (phone.touched || phone.dirty)">
        
        <div class="icon-group">
          <i class="bi bi-exclamation-circle error-icon-fixed" 
             *ngIf="phone.invalid && (phone.touched || phone.dirty)"></i>
        </div>
      </div>
      <div class="error-area" *ngIf="phone.invalid && (phone.touched || phone.dirty)">
        <small class="text-danger" *ngIf="phone.errors?.['required']">Số điện thoại không được để trống</small>
        <small class="text-danger" *ngIf="phone.errors?.['invalidPhone']">Số điện thoại không đúng định dạng</small>
        <small class="text-danger" *ngIf="phone.errors?.['weakPhonePattern']">Số điện thoại không được là dãy số lặp hoặc dãy số liên tiếp</small>
      </div>
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label>Email <span class="text-danger">*</span></label>
      <div class="input-pos-wrapper">
        <input type="email" class="form-control" formControlName="email" placeholder="Nhập email"
          [class.is-invalid]="email.invalid && (email.touched || email.dirty)">
        
        <div class="icon-group">
          <i class="bi bi-exclamation-circle error-icon-fixed" 
             *ngIf="email.invalid && (email.touched || email.dirty)"></i>
        </div>
      </div>
      <div class="error-area" *ngIf="email.invalid && (email.touched || email.dirty)">
        <small class="text-danger" *ngIf="email.errors?.['required']">Email không được để trống</small>
        <small class="text-danger" *ngIf="email.errors?.['email']">Email không hợp lệ</small>
      </div>
    </div>

    <!-- Mật khẩu -->
    <div class="mb-3">
      <label>Mật khẩu <span class="text-danger">*</span></label>
      <div class="input-pos-wrapper">
        <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password"
          placeholder="Nhập mật khẩu" [class.is-invalid]="password.invalid && (password.touched || password.dirty)">
        
        <div class="icon-group">
          <i class="bi bi-exclamation-circle error-icon-fixed" 
             *ngIf="!regForm.get('password')?.value && (password.touched || password.dirty)"></i>
          <i class="bi" *ngIf="regForm.get('password')?.value"
             [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'" (click)="togglePassword()"></i>
        </div>
      </div>
      <div class="error-area" *ngIf="password.invalid && (password.touched || password.dirty)">
        <small class="text-danger" *ngIf="password.errors?.['required']">Mật khẩu không được để trống</small>
        <small class="text-danger" *ngIf="password.errors?.['minlength']">Mật khẩu tối thiểu 6 ký tự</small>
      </div>
    </div>
      <!-- Nhập lại mật khẩu -->
      <div class="mb-3">
      <label>Nhập lại mật khẩu <span class="text-danger">*</span></label>
      <div class="input-pos-wrapper">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Nhập lại mật khẩu"
          [class.is-invalid]="regForm.errors?.['misMatch'] && (confirmPassword.touched || confirmPassword.dirty)">
        
        <div class="icon-group">
          <i class="bi bi-exclamation-circle error-icon-fixed" 
            *ngIf="regForm.errors?.['misMatch'] && !confirmPassword.value && (confirmPassword.touched || confirmPassword.dirty)">
          </i>

          <i class="bi" 
            *ngIf="confirmPassword.value"
            [ngClass]="showConfirmPassword ? 'bi-eye' : 'bi-eye-slash'" 
            (click)="toggleConfirmPassword()">
          </i>
        </div>
      </div>

      <div class="error-area" *ngIf="regForm.errors?.['misMatch'] && (confirmPassword.touched || confirmPassword.dirty)">
    <small class="text-danger">Mật khẩu không trùng khớp</small>
  </div>
    </div>

    <div class="form-check mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="accept"
        id="accept">

      <label class="form-check-label" for="accept">
        Tôi đã đọc và đồng ý với Chính sách & Quy định <span class="text-danger">*</span>
      </label>
    </div>

    <div class="text-danger" *ngIf="regForm.get('accept')?.touched && regForm.get('accept')?.invalid">
      Bạn phải đồng ý điều khoản
    </div>

    <div class="text-danger mb-2" *ngIf="registerError">
      {{ registerError }}
    </div>

    <button
  type="submit"
  class="btn btn-register"
  [disabled]="regForm.invalid || isCheckingAvailability">

  <i class="bi bi-arrow-right" *ngIf="!isCheckingAvailability"></i>
  <span>{{ isCheckingAvailability ? 'Đang kiểm tra...' : 'Đăng ký' }}</span>

</button>

  </form>

</div>
