<header class="site-header header-scale" [class.over-hero]="isOverHero">
  <!-- nền full width -->
  <section class="py-2">
    <div class="container-fluid">
      <div class="px-4">
        <!-- inner wrapper canh giữa giống TGDD -->
        <div class="site-inner header-inner">
        <!-- Logo -->
        <img
          src="assets/images/logo/logo.png"
          alt="Dwelly"
          height="40"
          (click)="scrollToTop()"
          class="logo"
        />

        <!-- Navigation -->
        <nav class="header-nav">
          <a href="#"><i class="bi bi-search"></i></a>
          <a  routerLink="/about-us" routerLinkActive="active">Giới thiệu</a>
          <a routerLink="/product-list" routerLinkActive="active" >Sản phẩm</a>
          <a href="#">Gợi ý không gian</a>
          <a href="#"><i class="bi bi-cart"></i></a>
          <a href="#"><i class="bi bi-person"></i> {{ displayName }}</a>
        </nav>
        </div>
      </div>
    </div>
  </section>
</header>
