.custom-close {
  background: none;
  border: none;
  color: #6c5234;     
  font-size: 20px;  
  cursor: pointer;
  opacity: 0.8;
  padding: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.custom-close:hover {
  opacity: 1;
}

.custom-close:active {
  opacity: 0.9;
}

.modal-header {
  padding: 0;
}

.modal-body {
  padding-top:0;
  padding-bottom:10px;
}

.modal-content {
  border-radius: 12px !important; 
  border: none !important;     
  overflow: hidden;           
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
}

.modal-dialog {
  max-width: 400px;
  width: calc(100% - 2rem);
}