.product-detail-concept{
  font-family: 'Nunito Sans', sans-serif;
  color:#373737;
  font-size:14px;
}

.top-bar .breadcrumb {
  font-size: 14px;
  color: #666;
}

.top-actions .action-btn {
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #444;
}

.product-title {
  font-size: 22px;
  font-weight: 600;
}

.action-box {
  display: flex;
  gap: 12px;
}

.btn-buy {
  background: #6c5234;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.btn-cart {
  background: #eee;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.related-products {
  margin-top: 20px;
}
.related-products .row {
  display: flex;
  flex-wrap: wrap;        
  justify-content: flex-start; 
  gap: 25px;
}
.related-products .col-md-3 {
  flex: 1 1 25%;
  max-width: 25%;
  box-sizing: border-box;
}


.scroll-wrapper {
  position: relative;
  width: 260px;
}

.scroll-row {
  display: flex;
  flex-wrap: nowrap;     
  overflow-x: auto;     
  scroll-behavior: smooth;
  gap: 25px;
  padding: 10px 0;
}

.scroll-row::-webkit-scrollbar {
  display: none;         
}

.product-item {
  flex: 0 0 auto;        
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #AFA386;
  opacity: 0.6;
  border: none;
  width: 30px; 
  height: 40px; 
  display: flex;
  align-items: center; 
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  padding: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  z-index: 10;
}

.scroll-wrapper i{
  color:#fff;
  font-size: 16px;
}
.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}
.breadcrumb a { color: #AFA386; text-decoration: none; margin: 0 4px; display: inline-flex;  align-items: center;gap: 4px; }
.breadcrumb a:hover {
    color: #6c5234;
}

.breadcrumb a:last-child { color: #6c5234;}
.breadcrumb i:first-child {
  color: #AFA386;
  font-size: 18px;
}
.breadcrumb i {
  color: #6c5234;
  font-size: 18px;
}


.btn-add-all {
    border: none;
  background: #6c5234;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  width: 170px;
  padding: 8px 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.btn-add-all:hover { background: #6c5234; color: #fff; box-shadow: 0 4px 12px rgba(0,0,0,0.15); } 
.btn-add-all:active { background: #56422A;  color: #fff;  }

.custom-dropdown {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  color: #373737;
}

.custom-dropdown i {
  font-size: 14px;
  color: #999;
}
.custom-dropdown i {
  transition: transform 0.2s ease;
}

.custom-dropdown i.rotate {
  transform: rotate(180deg);
}

.custom-dropdown ul {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  margin: 0;
  padding: 4px 0;
  list-style: none;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 10;
}

.custom-dropdown ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.custom-dropdown ul li:hover {
  background: #f5f5f5;
  color: #6c5234;
}

.bar {
  display: flex;
  justify-content: space-between; 
  align-items: center;          
}

.bar-title {
  font-size: 24px;
  font-weight: 600;
  color: #6c5234;
}

.concept-card {
  position: relative;
}
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background:#AFA386;
  border: none;
  color: #fff;
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.concept-card:hover .scroll-btn {
  opacity: 0.6;
}




.card-thumb.no-hover .hover-img {
  display: none !important;
}
